bin/
obj/
Bin/
Obj/
debug/
Debug/
Components/
components/
packages/
Packages/
*.user
*.userprefs
*.suo
.DS_Store
*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.sql
*.sqlite
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
